a {
    box-shadow: none;
}


footer .switch-button div {
    display: none;
}

#portfolio {
    overflow: hidden;
}


.main-title-text{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.main-title-subtext{
    position: relative;
    z-index: 10;
}

#home svg{
    width: 100%;
    height: inherit;
    text{
        text-anchor: middle;
    }
    #title{
        letter-spacing: -2px;
        font-size: 12em;
        font-weight: 800;
    }
    #subtitle{
        letter-spacing: 8px;
        font-size: 1.2em;
        font-weight: 300;
        text-transform: uppercase;
    }
    .dark-mode #base{

    }
    #alpha{
        fill: url(#alpha-gradient);
    }
    #base{
        fill: white;
        mask: url(#mask);
    }
}

.dark-mode #home svg #base {
    fill: #171B27;
    mask: url(#mask);
}

.seethrough {
    background-color:  transparent !important;
}
section {
    position: relative;
    z-index: 10;
    background-color: white;

    svg text {
        font-size: 6px;
    }

}

.seethrough {
    z-index: 1;
    height: 1000px;
}

#portfolio::after,
#about::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #6888DF, #F55555);
    opacity: 0.2;
    transition: opacity 0.35s;
}

.dark-mode section {
    background-color: #171B27;
}

.wallpaper   {
    background-size: cover;
    position: fixed !important;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.intro {
    position: relative;
    z-index: 10;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}

.row {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;

    .blog-post p {
        text-align: justify;
    }
}

.container {
    max-width: 100% !important;
    width: 100% !important;
}

.footer {
    position: relative;
    index: 1;
}

.social-buttons {
    z-index:10
}

.default__wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 10em;
}

.default__wrapper .caption {
    font-weight: bold;
    font-size: 2em;
    white-space: nowrap;
}

.default__wrapper .label {
    font-weight: normal;
    font-size: 0.5em;
}

.default__wrapper .balloon {
    text-align: center;
    padding: 1em;
    max-width: 485px;
    position: relative;
}

.default__wrapper .balloon a {
    color: #e2f2d9 !important;
    text-shadow: 2px 2px 5px #e2f2d9;
}

.wall .social-buttons ul {
    width: 120px;
}

.wall .social-buttons ul li {
    margin: 0 !important;
    padding: 5px 0;
}

.wall .social-buttons ul li img {
    opacity: 1 !important;
    width:48px;
    height:48px;
}

.wall .social-buttons ul li:hover img {
    width:64px;
    height:64px;
    transition: width 0.5s, height 0.5s;
}

nav ul li a::before {
    border-radius: 0 !important;
    width: 100% !important;
    opacity: 1 !important;
    height: 20%;
    background-color: transparent !important;
    border-bottom: 5px solid ;
}

.dark-mode a.btn,
.dark-mode button.btn,
a.btn,
button.btn {
    background-position: 20% 0;
    background-image: linear-gradient(to left, #b43150, #2e3f6b) !important;
    box-shadow: 0 2px 10px 0 rgba(116, 79, 168, 0.75);
}

a.btn:hover,
button.btn:hover{
    background-position: 100% 0;
    background-size: 200% 100%;
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="url"], select, textarea {
    border: 0 !important;
}

.input-border {
    padding: 1px !important;
}
div.input-border::after {
    background: linear-gradient(to right, #6888DF, #b43150) !important
}

.portfolio-post .content .col {
    color: #b8b7bf !important;
}

footer nav,
header nav {
    position: inherit;

    ul {
        width: 100%;
        margin: 0;
    }
}

header {
    text-align: center;
}